html{
    scroll-behavior: smooth;
}

body{
    margin: 0px;
    background: linear-gradient( #335a79 40%, #cecd7a 73%,#c77b34 100%);
}

header{
    text-align: center;
    margin: auto;
    padding-top: 27px;
    padding-bottom: 6px;
    padding-left: 25px;
    height: 60px;
    display: flex;
    position: fixed;
    box-shadow: -2px 5px 10px;
    width: 99%;
    justify-content:space-between;
    background: linear-gradient(to right,#e6c091 0% ,#98bad4 35%,#516f86);
    border-radius: 0px 0px 50px 50px;
    height: 57px;
    transition: 0.8s;
}

header:hover{
    transition: 0.8s;
    height: 75px;
    padding-top: 35px;
}

div.banner{
    font-size: 24px;
    font-family: 'Alegreya SC';
    text-align: center;
}

nav{
    font-family: 'Almarai';
    margin-top: 10px;
    padding-bottom: 10px;
}

nav a{
    text-decoration: none;
    color: rgb(228, 171, 125);
    padding: 5px 20px;
    font-size: 19px;
    border-radius: 30px 0px;
    transition: 0.8s;
}

nav a:hover{
    border-radius: 30px 0px;
    transition: 0.8s;
    color: rgb(77, 23, 6);
    background-color: bisque;
}







.judulhome{
    text-shadow: 5px 5px 5px#0c1d42;
    font-family: 'alegreya sc';
}

section.home{
    font-family: 'Almarai';
    color: white;
    height:800px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url("img 1.png");
}

.containerhome{
    width:28%;
    margin-left: 85px;
    padding-top: 125px;
}

h1.judulhome{
    font-size: 55px;
}

.deskhome{
    padding: 20px;
    font-size: 20px;
    background: linear-gradient(to right, rgba(222, 227, 236, 0.479), rgba(255, 255, 255, 0.096) );
    border: 3px solid transparent ;
    border-image: linear-gradient(to bottom,rgba(222, 227, 236, 0.918), rgba(255, 255, 255, 0.096));
    border-image-slice: 1;
}







section.about{
    position: center;
    font-family: 'almarai';
    height: 640px;
    padding-top: 100px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 15px;
    & h3{
        font-size: 25px;
        font-family:courier;
    }
}

.about img{
    height: 500px;
    padding: 20px;
}

.deskabout{
    color: #F3E3D0;
    
    margin: auto;
    display: flex;
    & h3{
        color: #c7b39b;
    }
}

.dokumentasi {
    margin: 20px;
}







.cardprofile{
    border: 5px solid transparent;
    border-image: linear-gradient(to bottom, #263B6A,#e9bf90);
    border-image-slice: 1;
    font-family: 'Afacad';
    font-size: 22px;
    background: linear-gradient(#e0e6b7,#281C59);
    width: 500px;
    padding-bottom: 30px;
    margin: auto;
    text-align: center;
    margin-bottom: 30px;
    color: antiquewhite;
    & img{
        height: 500px;
        padding-top: 25px;
    }
}

.medsos{
    color: antiquewhite;
    font-size: 25px;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 40px;
    padding-top: 5px;
}

.medsos a{
    color: bisque;
    text-decoration: none;
    padding: 10px 10px;
    font-size: 24x;

}



